@CHARSET "UTF-8";

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}

header .icon{
	height: 70px;
}

header .searchContainer{
	border: 1px solid #333;
	border-radius: 20px;
	padding: 0 10px;
}

header .searchContainer .searchText{
	display: inline-block;
	height: 25px;
	width: 200px;
	border: none;
	out-line: none;
}

header .searchContainer .textSearchSubmit{
	background: url("../images/search.png") 100% 100% no-repeat;
	background-size: contain;
	border: none;
}

header .headerRightContainer{

}