@CHARSET "UTF-8";
#main{
	display: flex;

}

.leftSideBar{
	text-align: center;
}

.targetContainer{
	text-align:left;
	margin: 0 100px;
	min-width: 300px;
	background-color: white;
	border: 1px solid #ff7f7f;
	border-radius: 20px;
	padding: 20px;
}

.indicator{
	width: 150px;
	height: 150px;
}

.selectContainer{
	text-align:left;
	margin: 0 100px;
	min-width: 300px;
	background-color: white;
	border: 1px solid #ff7f7f;
	border-radius: 20px;
	padding: 20px;
}
