@CHARSET "UTF-8";
#main{
	display: flex;
	justify-content: space-between;
}

#main .wishListContainer{
	margin-top: 100px;
	width: 250px;
}

#main .centerWraper{

}

#main .centerWraper h2{
	font-size: 30px;
}

#main .centerWraper .centerContainer{
	display: flex;
	flex-flow: row wrap;
	min-width: 250px;
}

#main .centerWraper .centerContainer .archiveContainer{
	width: 250px;
}

#main .centerWraper .centerContainer .recentTradeContainer{
	width: 250px;
}

#main .belongsListContainer{
	margin-top: 100px;
	width: 250px;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}